@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 185);
}
h1{
    color: white;

    margin-top: 5px;
    margin-bottom: 25px;
    padding:10px;
    text-shadow: 3px 3px 9px #cccccc;
}
p{
    margin-top: 15px;
    text-indent: 5%;
    color: rgb(0,0,185);
}
h2{
    color: rgb(0, 0, 185);
    text-align: right;
    padding-right: 30%;
    background-color: rgba(135, 135, 216, 0.534);
}
ul{
    margin-left: 4%;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(0, 0, 163);
}
small{
color: rgb(0, 0, 185);
}
.cor_1{
    color: red;
}
.cor_2{
    color: pink;
}
.paragrafo_T1{
    background-color:  green;
    color:  rgb(0, 70, 0);
}
.paragrafo_T2{
    background-color: yellowgreen;
    color:rgb(87, 112, 37);
}